__pycache__/
*.py[cod]
*.pyo


env/
venv/
ENV/
.venv/
.env/

*.sqlite3
*.log
.env       

.vscode/
.idea/

.DS_Store
Thumbs.db

Pipfile.lock


**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

*.so
*.egg-info/
dist/
build/
*.sql

.pytest_cache/
